<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Ayala</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark1" id="navbar">
        <div class="container div-navbar">
            <a class="navbar-brand text-title button-home" href="/">Diego Ayala</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-three-dots text-title "></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto menu">
                    <li class="nav-item">
                        <a class="menu-link" href="#section-home"><span>Inicio</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#section-sobre-mi"><span>Sobre mí</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#section-tecnologias"><span>Tecnologías</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#section-experiencia"><span>Experiencia</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#section-proyectos"><span>Proyectos</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#section-contacto"><span>Contacto</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-dark2 section-home" id="section-home">
        <div class="container d-flex align-items-center justify-content-around div-home">
            <div >
                <div>
                    <h1 class="fs-2">Diego Ayala Galli</h1>
                    <p class="fs-5">Desarrollador Backend y Blockchain</p>
                </div>
                <div class="buttons-container">
                    <a class="text-title button-link" href=""><span class="bi bi-envelope"></span></a>

                    <a class="text-title button-link" href=""><span class="bi bi-linkedin"></span></a>

                    <a class="text-title button-link" href=""><span class="bi bi-github"></span></a>
                    <button class="button-cv">Descargar CV</button>
                </div>
            </div>
            <div class="image-container">
                <img class="profile-img" src="../static/img/Foto perfil.jpeg" alt="profile">
                <div class="img-gradient"></div>
            </div>
        </div>
    </section>

    <section class="bg-dark1 text-center" id="section-sobre-mi">
        <div class="container div-sobre-mi">
            <h1 class="text-title">Sobre mí</h1>
            <p>Soy Diego, un desarrollador autodidacta especializado en Backend. Mi interés por la resolución de problemas y la optimización de procesos, me ha llevado a querer aprender de forma continua nuevas tecnologías y habilidades.
                Soy una persona constante y perseverante, que no se detiene hasta cumplir con sus objetivos.
                El ser autodidacta me ha dado la capacidad de enfrenarme a los problemas que surgan y buscar soluciones.
                Me motiva tener que aprender cosas nuevas y colaborar con otras personas.
                Me apasiona el registro y analisis de datos
            </p>

        </div>
        
    </section>

    <section class="bg-dark2 text-center" id="section-tecnologias">
        <div class="container div-tecnologias">
            <h1 class="text-title">Tecnologías</h1>
            <div class="div-front-back">
                <div class="div-frontend">
                    <h3>Frontend</h3>
                    <div class="div-tecnologias-imgs">
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-html" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-html"></use>
                            </svg>
                            <p>HTML</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-css" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-css"></use>
                            </svg>
                            <p>CSS</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-bootstrap" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-bootstrap"></use>
                            </svg>
                            <p>Bootstrap</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-javascript" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-javascript"></use>
                            </svg>
                            <p>JavaScript</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-react" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-react"></use>
                            </svg>
                            <p>React</p>
                        </div>
                    </div>
                </div>

                <div class="div-backend">
                    <h3>Backend</h3>
                    <div class="div-tecnologias-imgs">
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-python" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-python"></use>
                            </svg>
                            <p>Python</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-django" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-django"></use>
                            </svg>
                            <p>Django</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-postgres" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-postgres"></use>
                            </svg>
                            <p>PostgreSQL</p>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="div-block-herr">
                <div class="div-blockchain">
                    <h3>Blockchain</h3>
                    <div class="div-tecnologias-imgs">
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-solidity" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-solidity"></use>
                            </svg>
                            <p>Solidity</p>
                        </div>
                        <div class="div-tecnologia">
                            <img class="img-tecnologia" src="../static/logos/logo-brownie.jpeg" alt="Logo Brownie">
                            <p>Brownie</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-ethersjs" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-ethersjs"></use>
                            </svg>
                            <p>Ethers.js</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-web3js" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-web3js"></use>
                            </svg>
                            <p>Web3.js</p>
                        </div>
                    </div>
                </div>
                
                <div class="div-herramientas">
                    <h3>Herramientas</h3>
                    <div class="div-tecnologias-imgs">
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-git" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-git"></use>
                            </svg>
                            <p>Git</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-github" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-github"></use>
                            </svg>
                            <p>GitHub</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-github-actions" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-github-actions"></use>
                            </svg>
                            <p>GitHub Actions</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-docker" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-docker"></use>
                            </svg>
                            <p>Docker</p>
                        </div>
                        <div class="div-tecnologia">
                            <svg class="img-tecnologia" id="img-render" role="img" viewBox="0 0 24 24">
                                <use href="static/icons/icons.svg#logo-render"></use>
                            </svg>
                            <p>Render</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark1 text-center" id="section-experiencia">
        <div class="container div-experiencia">
            <h1 class="text-title">Experiencia</h1>
            <p>Tengo más de 1 año trabajando en proyectos personales que me permiten aplicar y expandir mis conocimientos en el desarrollo de sofware, a la vez que resuelvo problemas de la vida real.</p>
            <div>
                <h3>Bike Price Tracker</h3>
                <p>Abril 2025 - Mayo 2025</p>
            </div>
            <div>
                <h3>Bikechain</h3>
                <p>Febrero 2025 - Abril 2025</p>
            </div>
            
        </div>
    </section>

    <section class="bg-dark2 text-center" id="section-proyectos">
        <div class="container div-proyectos">
            <h1 class="text-title">Proyectos</h1>
            <div class="div-lista-proyectos">
                <div class="div-proyecto">
                    <img class="img-proyecto" src="/static/img/Bike Price Tracker.png" alt="Bike Price Tracker image">
                    <h3>Bike Price Tracker</h3>
                    <p>Web para ver el historial de precios de bicicletas para aprovechar a comprarla cuando tenga el precio más bajo. Proyecto que realiza scraping, con autenticación de usuarios y suscripción a alertas por email.</p>
                    <div class="div-tecnologias-proyecto">
                        <div class="div-tecnologia-proyecto">
                            <svg class="img-tecnologia-proyecto" id="img-html" role="img" viewBox="0 0 24 24"><use href="../static/icons/icons.svg#logo-html"></use></svg>
                            <span>HTML</span>
                        </div>
                        <div class="div-tecnologia-proyecto">
                            <svg class="img-tecnologia-proyecto" id="img-css" role="img" viewBox="0 0 24 24"><use href="../static/icons/icons.svg#logo-css"></use></svg>
                            <span>CSS</span>
                        </div>
                        <div class="div-tecnologia-proyecto">
                            <svg class="img-tecnologia-proyecto" id="img-python" role="img" viewBox="0 0 24 24"><use href="../static/icons/icons.svg#logo-python"></use></svg>
                            <span>Python</span>
                        </div>
                        <div class="div-tecnologia-proyecto">
                            <svg class="img-tecnologia-proyecto" id="img-django" role="img" viewBox="0 0 24 24"><use href="../static/icons/icons.svg#logo-django"></use></svg>
                            <span>Django</span>
                        </div>
                        <div class="div-tecnologia-proyecto">
                            <svg class="img-tecnologia-proyecto" id="img-postgres" role="img" viewBox="0 0 24 24"><use href="../static/icons/icons.svg#logo-postgres"></use></svg>
                            <span>PostgreSQL</span>
                        </div>
                    </div>
                    <div>
                        <button class="button-cv">DEMO</button>
                        <button class="button-cv">GITHUB</button>
                    </div>
                </div>
                <div class="div-proyecto">
                    <img class="img-proyecto" src="/static/img/Bikechain.png" alt="Bikechain image">
                    <h3>Bikechain</h3>
                </div>

            </div>

        </div>
    </section>

    <section class="bg-dark1 text-center" id="section-contacto">
        <div class="container div-contacto">
            <h1 class="text-title">Contacto</h1>
            <form action="">
                <div>
                    <label for="id_name">Nombre:</label>
                    <input type="text" name="name" id="id_name">
                </div>
                <div>
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" id="id_email">
                </div>
                <div>
                    <label for="id_message">Mensaje:</label>
                    <input type="text" name="message" id="id_message">
                </div>
            </form>

        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>


