<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Ayala</title>
</head>
<body>
    <header>
        <div>Diego ayala</div>
        <a href="">Sobre mí</a>
        <a href="">Tecnologías</a>
        <a href="">Experiencia</a>
        <a href="">Proyectos</a>
    </header>
    <section>
        <div>
            <img src="../static/img/WhatsApp Image 2021-05-11 at 16.54.45 (2).jpeg" alt="profile" width="100px">
        </div>
    </section>
    <section>
        <h1>Sobre mí</h1>
        <p>Soy Diego, un desarrollador autodidacta especializado en Backend. Mi interés por la resolución de problemas y la optimización de procesos, me ha llevado a querer aprender de forma continua nuevas tecnologías y habilidades.
            Soy una persona constante y perseverante, que no se detiene hasta cumplir con sus objetivos.
            El ser autodidacta me ha dado la capacidad de enfrenarme a los problemas que surgan y buscar soluciones.
            Me motiva tener que aprender cosas nuevas y colaborar con otras personas.
            Me apasiona el registro y analisis de datos
        </p>
    </section>
</body>
</html>