body {
    background-color: rgb(73, 73, 73);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark1 {
    background-color: rgb(53, 53, 53);
    color: rgb(240, 240, 240);
    margin: 0;
    width: 100%;
}

.bg-dark2 {
    background-color: rgb(73, 73, 73);
    color: rgb(240, 240, 240);
    margin: 0;
    width: 100%;
}

.text-title {
    color: rgb(33, 196, 207);
}

.bg-button {
    background-color: rgb(33, 196, 207);
    justify-content: be
}