body {
    background-color: rgb(73, 73, 73);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark1 {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    margin: 0;
    width: 100%;
}

.bg-dark2 {
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
    margin: 0;
    width: 100%;
}